*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.container{

    max-width: 900px;
    margin: 0 auto;
}
.applybox{
    max-width: 600px;
    padding: 20px;
    background-color: white;

    /* margin auto horizontally center the value in it's container, 
        then element take up the specified width, remaining space set equally between the left and right margins*/
    margin: 0 auto;
    margin-top: 60px;
    /* alpha = brightness intensity(0-1) */
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 20px;
}
.title_small{
    font-size: 21px;
}

.form_container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;

}
.form_control{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 15px;
    margin-bottom: 5px;
}
input, select, textarea{
    padding: 6px 10px;
    border: 2px solid #ccc;
    /* b-r to round the corner of box */
    border-radius: 4px;
    font-size: 15px;
}
/* Dislay the color orange, of a border  when we select that particular box */
input:focus{
    outline-color: rebeccapurple;
}

.button_container{
    display: flex;
    justify-content: end;
    margin-top: 20px;
    
}

button{
    background-color: rgb(228, 16, 16);
    border: transparent solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 7px;
    transition: 0.3s ease-in;
}

/* hover karne par button ka bakground change ho jayega */
button:hover{
    background-color: rgb(37, 98, 15);
    border: 2px solid red;
    color: rgb(103, 23, 101);
    transition: 0.3s ease-out;
    cursor: pointer;

}
.textarea_control{
    grid-column: 1 / span 2;
}
.textarea_control textarea{
    width: 100%;
    
}

@media (max-width: 455px) {
    .textarea_control{
        grid-column: 1 / span 1;
    }
    
}
